<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kaishengit.mapper.UserMapper">

    <insert id="saveLoginLog">
        INSERT into t_login_log (ip,userid) VALUES (#{param1},#{param2})
    </insert>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT into t_user (username, password, realname, weixin, roleid)
        VALUES (#{usename},#{password},#{realname},#{weixin},#{roleid})
    </insert>
    <update id="resetPassword">
        UPDATE t_user set password = #{password} where id = #{id}
    </update>

    <update id="update">
            UPDATE t_user set username=#{usename},realname=#{realname},weixin=#{weixin},
            roleid=#{roleid},enable=#{enable},password = #{password} where id = #{id}
    </update>


    <select id="findById" resultType="com.kaishengit.pojo.User">
        SELECT * FROM t_user where id = #{id}
    </select>

    <select id="findByName" resultType="com.kaishengit.pojo.User">
        SELECT * FROM t_user WHERE username = #{userName}
    </select>

    <select id="findLoginLogByQueryParam" resultType="com.kaishengit.pojo.LoginLog">
        SELECT * FROM  t_login_log WHERE userid = #{param1} limit ${param2},${param3}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT count(*) FROM t_login_log
    </select>
    <select id="findAll" resultType="com.kaishengit.pojo.User">
        SELECT * FROM  t_user
    </select>
    <!--用户管理返回用户datatables-->
    <select id="findUsers" resultType="com.kaishengit.pojo.User">
        select t_user.*,t_role.view_name as 'role.viewName'
        from t_user left  join t_role
        on t_user.roleid = t_role.id
        <where>
             <if test="search != null and search != ''">
                 username LIKE concat("%",#{search},"%") or realname LIKE concat("%",#{search},"%")
             </if>
         </where>
        limit ${start},${length}
    </select>

    <select id="findUsersCount" resultType="java.lang.Long">
        SELECT count(*) FROM t_user
        <where>
            <if test="search != null and search != ''">
                username LIKE concat("%",#{search},"%") or realname LIKE concat("%",#{search},"%")
            </if>
        </where>
    </select>
</mapper>